@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  direction: rtl;
  text-align: right;
}

* {
  box-sizing: border-box;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 999px;
}
